.masthead {
    height: 30vh;
    min-height: 30px;
    background-image: url('https://source.unsplash.com/IZOAOjvwhaM/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-inline: center;
  }

.btn-outline-success.pinned {
  background-color: green;
  color: white;
} 